on:
  release:
    types: [created]
name: Handle Release

env:
   G_RELEASE: "x.xx"

jobs:
  generate:
    name: Create release-artifacts
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Generate the artifacts
        run : |
           set -x
           pwd
           ls -l
           Xvfb :0 -screen 0 1024x768x16 &
           export DISPLAY=:0.0
           export WINEARCH=win32
           sudo dpkg --add-architecture i386
           sudo apt-get update -y
           sudo apt-get install wine32 -y
           sudo apt-get install wine -y
           sudo apt-get install winetricks -y
           sudo winetricks --self-update -y
           wine --version
           wine winecfg -v win7
           winetricks -q vcrun2017
           wget -q https://www.python.org/ftp/python/3.8.10/python-3.8.10.exe
           wine python-3.8.10.exe /quiet /nogui \
              InstallAllUsers=1 \
              TargetDir="C:Python38" \
              PrependPath=1
           wine C:Python38/python.exe -m pip install --upgrade pip
           wine C:Python38/python.exe -m pip install \
              -r requirements_qt5.txt
           wine C:Python38/python.exe -m pip install pyinstaller
           cd python
           wine C:/Python38/Scripts/pyuic5.exe -i 3 -o cwsimgui.py cwsimgui.ui
           wine C:/Python38/Scripts/pyinstaller.exe  -w -F --clean \
              --add-data "MASTER.SCP;." --add-data "cwsimgui.ui;." \
              --add-data "translate/*.qm;translate/" \
              -n cwsim cwsim.py
           cd ..
           RELEASE="0.04"
           echo "G_RELEASE=${RELEASE}" >> $GITHUB_ENV
           rm -rf tmp
           mkdir -p tmp
           cp python/dist/cwsim.exe tmp/cwsim.exe
           cd ..
           echo Done
      - name: Upload the artifacts
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: softprops/action-gh-release@v1
        with:
           files: tmp/cwsim.exe
